@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>组织架构图</title>
    <link href="../../Themes/Styles/style.css" rel="stylesheet" />
    <script src="../../Themes/Scripts/OrgChart.js"></script>
</head>
<body>
    <form id="form1">
        <div class="zz">
            <script language="javascript">
                eval(ViewData["strHtml_OrgChart"].ToString());
                var OrgShows = new OrgShow(v05e8569314b0458280638fbde85371f0);
                OrgShows.Top = 10;
                OrgShows.Left = 10;
                OrgShows.IntervalWidth = 5;
                OrgShows.IntervalHeight = 50;
                OrgShows.ShowType = 1;
                OrgShows.BoxHeight = 50;
                OrgShows.LineSize = 3;  //设置线条大小
                OrgShows.LineColor = "#ccc";  //设置线条颜色
                OrgShows.Run();
            </script>
        </div>
    </form>
</body>
</html>