@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>公司</title>
    <link href="../../Themes/Styles/style.css" rel="stylesheet" />
    <script src="../../Themes/Scripts/Jquery/jquery-1.8.2.min.js"></script>
    <script src="../../Themes/Scripts/TreeView/jquery.cookie.js"></script>
    <link href="../../Themes/Scripts/TreeView/jquery.treeview.css" rel="stylesheet" />
    <script src="../../Themes/Scripts/TreeView/jquery.treeview.js"></script>
    <script src="../../Themes/Scripts/Jquery/FunctionJS.js"></script>
    <script>
        $(function () {
            divresize('.div-body', 30);
            treeAttrCss();
            GetClickValue();
        });
        //初始化
        var OrganizationId, FullName = '';
        function GetClickValue() {
            OrganizationId = $('.collapsableselected').attr('id');
            FullName = $('.collapsableselected').find('span').html();
            var path = 'RoleList?OrganizationId=' + OrganizationId + '&FullName=' + escape(FullName);
            window.parent.frames["target_right"].location = path;
            Loading(true);

            $(".strTree li div").click(function () {
                OrganizationId = $(this).attr('id');
                var path = 'RoleList?OrganizationId=' + OrganizationId + '&FullName=' + escape(FullName);
                window.parent.frames["target_right"].location = path;
                Loading(true);
            });
        }
    </script>
</head>
<body>
    <form id="form1">
        <div class="btnbartitle">
            <div>
                公司
            </div>
        </div>
        <div class="line"></div>
        <div class="div-body">
            <ul class="black strTree">
                @Html.Raw(ViewData["strHtml"].ToString())
            </ul>
        </div>
    </form>
</body>
</html>