@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>系统角色表单</title>
    <link href="../../Themes/Styles/style.css" rel="stylesheet" />
    <script src="../../Themes/Scripts/Jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../../Themes/Scripts/Validator/JValidator.js" type="text/javascript"></script>
    <script src="../../Themes/Scripts/Jquery/FunctionJS.js" type="text/javascript"></script>
</head>
<body>
    <form id="form1">
        <table border="0" cellpadding="0" cellspacing="0" class="frm">
            <tr>
                <th>
                    角色编号：
                </th>
                <td>
                    <input id="Code" maxlength="50" type="text" datacol="yes" err="角色编号" checkexpession="NotNull" class="txt" style="width: 290px" />
                </td>
            </tr>
            <tr>
                <th>
                    角色名称：
                </th>
                <td>
                    <input id="FullName" maxlength="50" type="text" datacol="yes" err="角色名称" checkexpession="NotNull" class="txt" style="width: 290px" />
                </td>
            </tr>
            <tr>
                <th>
                    角色分类：
                </th>
                <td>
                    <select id="Category" class="select" style="width: 297px" datacol="yes" err="角色分类" checkexpession="NotNull"></select>
                </td>
            </tr>
            <tr>
                <th>
                    选项：
                </th>
                <td>
                    <span class="item">
                        <input id="Enabled" type="checkbox" checked="checked" style="vertical-align: middle;" />
                        <label for="Enabled" style="vertical-align: middle;">有效</label>
                        &nbsp;&nbsp;
                    </span>
                    <span class="item">
                        <input id="AllowEdit" type="checkbox" checked="checked" style="vertical-align: middle;" />
                        <label for="AllowEdit" style="vertical-align: middle;">允许编辑</label>
                        &nbsp;&nbsp;
                    </span>
                    <span class="item">
                        <input id="AllowDelete" type="checkbox" checked="checked" style="vertical-align: middle;" />
                        <label for="AllowDelete" style="vertical-align: middle;">允许删除</label>
                        &nbsp;&nbsp;
                    </span>
                </td>
            </tr>
            <tr>
                <th>
                    描述：
                </th>
                <td>
                    <textarea id="Description" maxlength="200" class="txtArea" rows="5" style="width: 296px" type="text"></textarea>
                </td>
            </tr>
        </table>
        <div class="frmbottom">
            <a class="l-btn" href="javascript:void(0)" onclick="CommitSave();">
                <span class="l-btn-left">
                    <img src="../../Themes/Images/Icon16/accept.png" alt="" />确 认
                </span>
            </a>
            <a class="l-btn" href="javascript:void(0)" onclick="OpenClose();">
                <span class="l-btn-left">
                    <img src="../../Themes/Images/Icon16/cancel.png" alt="" />关 闭
                </span>
            </a>
        </div>
    </form>
</body>
</html>
<script type="text/javascript">
    $(function () {
        LoadBindDrop();
    });
    var OrganizationId = GetQuery('OrganizationId');//公司主键
    var key = GetQuery('key');//角色主键
    var Category;
    //绑定角色类型下拉框
    var datajson = "";
    function LoadBindDrop() {
        $("#Category").append("<option value=''>" + "==请选择==" + "</option>");
        getAjax("InitRoleDrop", "", function (data) {
            datajson = eval("(" + data + ")");
            $.each(datajson, function (i) {
                $("#Category").append($("<option></option>").val(datajson[i].ItemCode).html(datajson[i].ItemName));
            });
            $("#Category").attr("value", Category);
        });
    }
    //加载角色表单
    if (key != undefined) {
        getAjax("InitControl", "key=" + key, function (data) {
            datajson = eval("(" + data + ")");
            //console.log(data);
            $("#Code").attr("value", datajson.Code);
            $("#FullName").attr("value", datajson.FullName);
            Category = datajson.Category;
            $("#Enabled").attr("checked", datajson.Enabled == '1' ? true : false);
            $("#AllowEdit").attr("checked", datajson.AllowEdit == '1' ? true : false);
            $("#AllowDelete").attr("checked", datajson.AllowDelete == '1' ? true : false);
            $("#Description").attr("value", datajson.Description);
        });
    }
    //保存事件
    function CommitSave() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        //获取表单参数
        var Code = $("#Code").val();
        var FullName = $("#FullName").val();
        var Category = $("#Category option:selected").val();
        var Enabled = document.getElementById("Enabled").checked ? 1 : 0;
        var AllowEdit = document.getElementById("AllowEdit").checked ? 1 : 0;
        var AllowDelete = document.getElementById("AllowDelete").checked ? 1 : 0;
        var Description = $("#Description").val();
        var Data = {
            "role.Code": Code, "role.FullName": FullName, "role.Category": Category, "role.Enabled": Enabled, "role.AllowEdit": AllowEdit,
            "role.AllowDelete": AllowDelete, "role.Description": Description
        };
        //提交后台进行处理
        $.ajax({
            type: "post",
            data: Data,
            url: "Insert_Update?OrganizationId=" + OrganizationId + "&key=" + key,
            success: function (result) {
                eval(result);
            }
        });
    }
</script>