<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="PreserveLoginUrl" value="true" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<!-- ================== 1：数据库连接相关配置 ================== -->
	<!--数据库软件类型：Oracle,SQLServer,MySql-->
	<add key="ComponentDbType" value="MySql" />
	<!-- 连接字符串是否加密-->
	<add key="ConStringEncrypt" value="false" />
	<!-- 当前数据库名称,如果有多个数据库用【;】隔开：A;B;C;D;-->
	<add key="DBName" value="AMS" />
	<!-- SqlServer连接字符串:Server=服务器地址;Database=库名;Uid=用户;Pwd=密码-->
	<add key="SqlServer" value="Server=HP680G1\SQL2014;Database=AMS;Uid=sa;Pwd=hxl" />
	<!-- Oracle连接字符串:Data Source=数据库;User ID=用户;Uid=用户;Password=密码-->
	<add key="Oracle" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.198.24)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User ID=GRDMP;Password=GRDMP;" />
	<!-- MySql连接字符串:server=服务器地址; user id=用户; password=密码; database=库名-->
	<add key="MySql" value="server=localhost;database=mobileoa;UserId=root;Password='5201314';CharSet=utf8;port=3306;Allow Zero Datetime=true" />
	<!-- ================== 2：这里主要是服务器端配置项内容部分 ================== -->
	<!-- 系统默认登录账户 -->
	<add key="CurrentUserName" value="System" />
	<!-- 系统默认登录密码 -->
	<add key="CurrentPassword" value="4A7D1ED414474E4033AC29CCB8653D9B" />
	<!-- 是否启动服务器缓存-->
	<add key="IsCache" value="true" />
	<!-- 服务器缓存设置时间（分钟）-->
	<add key="TimeCache" value="5" />
	<!-- 是否自动重启IIS-->
	<add key="IsRestartIIS" value="false" />
	<!-- 自动重启IIS设置时间（每天凌晨05点）-->
	<add key="RestartIISTime" value="22:33:00" />
	<!-- 是否写日志-->
	<add key="LogIsWrite" value="true" />
	<!-- 系统日志保存路径-->
	<add key="LogFilePath" value="C://AndroidMvcServer_Log" />
	<!-- 允许恢复数据库-->
	<add key="IsRecoverData" value="false" />
	<!-- 是否启动自动备份数据库-->
	<add key="IsBackupsData" value="true" />
	<!-- 自动启动备份数据库设置时间（每天;凌晨05点）-->
	<add key="BackupsDataTime" value="05:00:00" />
	<!-- 最大在线用户数量限制 -->
	<add key="OnLineLimit" value="200" />
	<!-- 允许重复登录,多人用同一帐号同时登录 -->
	<add key="CheckOnLine" value="false" />
	<!-- 密码错误锁定次数限制 -->
	<add key="PasswordErrowLockLimit" value="5" />
	<!-- 密码错误锁定周期(分钟) -->
	<add key="PasswordErrowLockCycle" value="1" />
	<!--是否启用动态密码卡-->
	<add key="IsSecureCard " value="false" />
	<!--记忆在线状态-->
	<add key="IsOnline" value="false" />
	<!-- 是否开启IP限制 -->
	<add key="CheckIPAddress" value="true"/>
	<!-- 是否开启接口限制 ,有效用户可以访问接口-->
	<add key="CheckInterface" value="true"/>
	<!-- ================== 3：系统性的参数配置 ================== -->
	<!-- 软件是否试用 -->
	<add key="IsRegistration" value="false" />
	<!-- 软件注册码 -->
	<add key="RegistrationCode" value="2A1B132C0E64FA299B014B39F7DE5C2F" />
	<!-- 当前客户公司名称 -->
	<add key="CustomerCompanyName" value="HXLSoft" />
	<!-- 软件名称 -->
	<add key="SoftName" value="IWork移动办公后台管理系统" />
	<!-- 当前软件版本 -->
	<add key="Version" value="1.0" />
	<!-- 联系我们信息 -->
	<add key="Contact" value="QQ：739272238;Email：739272238@qq.com;" />
	<!-- 软件许可证编号 -->
	<add key="Licence" value="NO:2015107712345678" />
	<!-- ================== 4：系统邮件错误报告反馈相关 ================== -->
	<!-- 软件的错误报告发给谁 -->
	<add key="ErrorReportTo" value="739272238@qq.com" />
	<!-- 发出错误邮箱的地址 -->
	<add key="ErrorReportMailUserName" value="1987675756@qq.com" />
	<!-- 发出错误邮箱的密码 E62C963F2C098F7BD6B2B3E4812A49DD-->
	<add key="ErrorReportMailPassword" value="xyz5201314" />
	<!-- 发出错误邮箱的名称 -->
	<add key="ErrorReportMailName" value="北京侏罗纪软件股份有限公司" />
	<!-- 发出错误邮箱设置邮箱主机 -->
	<add key="ErrorReportMailHost" value="smtp.qq.com" />
	<!-- ================== 5：APP配置节 ================== -->
	<add key="appName" value="iwork"/>
	<add key="orgName" value="yiwuxun"/>
	<add key="client_id" value="YXA6zgaMkJWcEeS9ksNR17SPEg"/>
	<add key="client_secret" value="YXA68jxvIms8HXrNBl0eJtD-V_L0TVU"/>
</appSettings>