@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>员工、职员列表</title>
    <link href="../../Themes/Styles/style.css" rel="stylesheet" />
    <script src="../../Themes/Scripts/Jquery/jquery-1.8.2.min.js"></script>
    <script src="../../Themes/Scripts/PqGrid/jquery-ui.min.js"></script>
    <script src="../../Themes/Scripts/PqGrid/pqgrid.min.js" charset="GBK"></script>
    <link href="../../Themes/Scripts/PqGrid/pqgrid.min.css" rel="stylesheet" />
    <script src="../../Themes/Scripts/Jquery/FunctionJS.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            ListGrid();
        });
        /**加载表格函数**/
        function ListGrid() {
            var Category = $("#hiddenCategory").val()
            var OrganizationId = $("#hiddenOrganizationId").val()
            var Parm_Key_Value = $("#query").val() + "☻" + $("#keywords").val() + "≌Enabled☻" + escape($("#Enabled").attr("checked") ? 1 : 0) + "≌";
            //url：请求地址
            var url = "LoadAction?action=GridBindList&Category=" + escape(Category) + '&OrganizationId=' + OrganizationId + '&Parm_Key_Value=' + escape(Parm_Key_Value);
            //colM：表头名称
            var colM = [
                { title: "员工/职员主键", hidden: true },
                { title: "登录账户", width: 100, align: "center" },
                { title: "姓名", width: 100, align: "center" },
                {
                    title: "性别", width: 60, align: "center", render: function (ui) {
                        var rowData = ui.rowData;
                        var value = rowData[3];
                        if (value == '0')
                            return "女";
                        else
                            return "男";
                    }
                },
                { title: "电子邮件", width: 150, align: "center" },
                { title: "手机", width: 100, align: "center" },
                { title: "办公电话", width: 100, align: "center" },
                { title: "职位", width: 100, align: "center" },
                { title: "职称", width: 100, align: "center" },
                { title: "加入本单位时间", width: 120, align: "center" },
                {
                    title: "离职", width: 60, align: "center",
                    render: function (ui) {
                        var rowData = ui.rowData;
                        var value = rowData[10];
                        if (value == '0')
                            return "<img src='/Themes/Images/checknomark.gif'/>";
                        else
                            return "<img src='/Themes/Images/checkmark.gif'/>";
                    }
                },
                {
                    title: "有效", width: 60, align: "center",
                    render: function (ui) {
                        var rowData = ui.rowData;
                        var value = rowData[11];
                        if (value == '0')
                            return "<img src='/Themes/Images/checknomark.gif'/>";
                        else
                            return "<img src='/Themes/Images/checkmark.gif'/>";
                    }
                },
                { title: "描述", width: 300 }
            ];
            //sort：要显示字段,数组对应
            var sort = [
                "UserId",
                "Account",
                "RealName",
                "Gender",
                "Email",
                "Mobile",
                "OfficePhone",
                "DutyId",
                "TitleId",
                "JoinInDate",
                "IsDimission",
                "Enabled",
                "Description"
            ];
            PQLoadGrid("#grid_paging", url, colM, sort, 50, true);
            $("#grid_paging").pqGrid({
                //freezeCols: 11,
                title: "<img src='/Themes/Images/Icon32/202323.png' width='25' height='25' style=\"vertical-align: middle;\" />员工、职员 列表"
            })
            pqGridResize("#grid_paging", -111, +15);
        }
        //新增
        function add() {
            var url = "/User/UserForm";
            top.Dialog(url, 'UserForm', '员工、职员 - 添加', 750, 450, 50, 50);
        }
        //编辑
        function edit() {
            var key = GetPqGridRowValue("#grid_paging", 0);
            if (IsEditdata(key)) {
                var url = "/User/UserForm?key=" + key;
                top.Dialog(url, 'UserForm', '员工、职员 - 编辑', 750, 450, 50, 50);
            }
        }
        //删除
        function Delete() {
            var key = GetPqGridRowValue("#grid_paging", 0);
            if (IsDelData(key)) {
                var delparm = 'action=Delete&key=' + key;
                delConfig('LoadAction', delparm);
            }
        }
        //查看详细
        function lookup() {
            var key = GetPqGridRowValue("#grid_paging", 0);
            if (IsChecked(key)) {
                var url = "/user/UserInfo?key=" + key;
                top.Dialog(url, 'UserInfo', '用户信息 - 查看详细', 750, 450, 50, 50);
            }
        }
        //重新设置新密码
        function SetNewPassword() {
            var key = GetPqGridRowValue("#grid_paging", 0);
            var Account = GetPqGridRowValue("#grid_paging", 1);
            if (IsChecked(key)) {
                var url = "/User/UpdateUserPwd?key=" + key + '&Account=' + Account;
                top.Dialog(url, 'UpdateUserPwd', '重新设置新密码', 370, 185, 50, 50);
            }
        }
        //用户分配角色
        function AllotRole() {
            var key = GetPqGridRowValue("#grid_paging", 0);
            var Account = GetPqGridRowValue("#grid_paging", 2);
            var RealName = GetPqGridRowValue("#grid_paging", 3);
            if (IsChecked(key)) {
                var url = "/User/UserRole?key=" + key + '&RealName=' + escape(RealName + "（" + Account + "）");
                top.Dialog(url, 'UserRole', '用户分配角色', 730, 450, 50, 50);
            }
        }
        //引出
        function derive() {
            var parm = 'LoadAction?action=derive';
            window.location.href = parm;
        }
        //刷新
        function windowload() {
            $("#grid_paging").pqGrid("refreshDataAndView");
        }
        //组织机构回调
        function OrganizeTree_Callback(Category, OrganizationId, OrganizationName) {
            $("#OrganizationName").html(OrganizationName);
            $("#hiddenCategory").val(Category)
            $("#hiddenOrganizationId").val(OrganizationId)
            ListGrid();
        }
    </script>
</head>
<body>
    <form id="form1">
        <input type="hidden" id="hiddenCategory" />
        <input type="hidden" id="hiddenOrganizationId" />
        <div class="btnbartitle">
            <div>
                用户信息 - <span id="OrganizationName">所有员工</span>
            </div>
        </div>
        @Html.Partial("~/Views/_Common/LoadButton.cshtml")
        <div class="btnbarcontetn" style="margin-top: 1px; background: #fff">
            <div>
                <table border="0" class="frm-find" style="height: 45px;">
                    <tr>
                        <th>
                            查询条件：
                        </th>
                        <td>
                            <select id="query" class="select" style="width: 70px">
                                <option value="Account">账户</option>
                                <option value="RealName">姓名</option>
                                <option value="Mobile">手机</option>
                            </select>
                        </td>
                        <th>
                            关键字：
                        </th>
                        <td>
                            <input id="keywords" type="text" class="txt" style="width: 200px" />
                        </td>
                        <td>
                            <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="ListGrid()" />
                            <span class="item">
                                <input id="Enabled" onclick="ListGrid()" type="checkbox" checked="checked" style="vertical-align: middle;" />
                                <label for="Enabled" style="vertical-align: middle;">只显示有效的</label>
                                &nbsp;&nbsp;
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="grid_paging" style="margin-top: 1px;"></div>
    </form>
</body>
</html>